#browse
    background-color: #f9f9f9
    padding: 40px 0
    .textbox
        text-align: center
        h1
            font-weight: 700
            font-size: 60px
            color: #3cc1d8
        h4
            font-size: 20px
            color: #6c7480
            margin: 20px 0
            line-height: 1.2
            span
                color: #3cc1d8
                text-decoration-line: underline
    .menu
        padding-bottom: 40px
        .btn
            font-size: 18px
            border: 0.5px solid #bdbdbd
            padding: 15px 46px
            margin: 0 20px
            border-radius: 5px
        .bgc
            background-color: #3cc1d8
            color: #ffffff
    .bgc 
        background-color: #3cc1d8
        padding: 15px 46px
        margin: 0 20px
        border-radius: 5px
        color: #ffffff

    .box
        background-color: #ffffff
        .imgbox
            width: 150px
            border-radius: 10px
        .textbox
            text-align: left
            margin-left: 20px
            .minibox
                h2
                    font-size: 22px
                    font-weight: 700
                    margin-top: 50px
                h5
                    color: #3cc1d8
                    font-size: 18px
                    margin-top: 50px
            p
                font-size: 18px
                line-height: 1.2
                color: #232f4285
                margin: 20px 0 50px
            .add
                margin-bottom: 50px
                input
                    border: 1px solid #e1e1e1
                    background-color: #e9e9e9
                    width: 40px
                    height: 40px
                    margin-right: 20px
                .btn
                    background-color: #3cc1d8
                    color: #ffff
                    padding: 8px 15px
    .big
        padding: 17px 53px
        margin-top: 50px
    @media ( max-width: 768px )
        .menu
            display: flex
            justify-content: center
            flex-wrap: wrap
            
            .third
                margin-top: 20px
        .box
            flex-wrap: wrap
            .imgbox
                margin: auto
                width: 200px
            .minibox
                flex-direction: column
                h2
                    margin-bottom: -30px

    @media ( max-width: 490px )
        .menu 
            flex-direction: column
            .btn
                padding: 10px 140px
            .second
                margin-top: 20px    
        .box
            .imgbox
                width: auto
