#support
    padding: 50px 0
    .textbox
        padding: 0 80px
        h1
            color: #ffff
            font-size: 50px
            font-weight: 700
            line-height: 1.1
        span
            color: #24667283
        .btn
            font-size: 22px
            color: #38b6c1
            padding: 10px 30px
            background-color: #ffff
            margin: 30px 0
    .bgc
        background-color: #35b6c1
    @media screen and ( max-width: 992px)
        .imgbox
            width: 720px
            height: 300px
            padding-bottom: 50px
        .bgc
            width: auto
            .textbox
                padding: 50px 0 0 0
    @media screen and ( max-width: 430px)
        .textbox
            width: auto
            h1 
                font-size: 40px
                .btn
                    font-size: 20px

        
    

